
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/metisMenu.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/css/typography.css">
    <link rel="stylesheet" href="~/css/default-css.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Vendor CSS Files -->
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">
 
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
     <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
    <link
    href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css"
    rel="stylesheet"
    />

</head>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@using DBCU_WebApp.core
@using DBCU_WebApp.Areas.Identity.Pages.Account.Manage

<body>
 
     <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">abc@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+123456</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
     
      </div>
    </div>
  </section>

      <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
  
     <a style="text-align:center" asp-area="" asp-controller="Home" asp-action="Index">&nbsp;<img src="~/images/icon/logoDBCU_FINAL_75x75.png" alt="logo"></a>
     
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
    
                            <li><a class="@Html.IsActive("Home", "Index")" id="Home" asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Home"]</a></li>
                            <li><a class="@Html.IsActive("Home", "About")" id="about" asp-area="" asp-controller="Home" asp-action="About">@ViewLocalizer["About"]</a></li>
                            <li ><a class="@Html.IsActive("News", "Index")" id="News" asp-area="" asp-controller="News" asp-action="Index">@ViewLocalizer["News"]</a></li>
                            <li ><a class="@Html.IsActive("Home", "OpeartionPlan")"asp-area="" asp-controller="Home" asp-action="OpeartionPlan">@ViewLocalizer["OperationPlan"]</a></li>
                            <li class="dropdown">
                                <a class="@ManageNavPages.DataAndFiguresClass(ViewContext) @Html.IsActiveNav("DataFigures", "")">@ViewLocalizer["DataAndFigures"] <i class="bi bi-chevron-down"></i></a>
                                <ul>                                   
                                    <li class="dropdown @ViewBag.NavClassByProvince">
                                        <a>@ViewLocalizer["ByProvince"] <i class="bi bi-chevron-right"></i></a>

                                        <ul>
                                            @*<li><a href="#">@ViewLocalizer["QuangBinh"]</a></li>*@
                                            <li><a class="@Html.IsActive("DataFigures", "TTHProvince")" asp-area="" asp-controller="DataFigures" asp-action="TTHProvince">@ViewLocalizer["TTH"]</a></li>
                                            <li><a class="@Html.IsActive("DataFigures", "MinhHoaDistrict")" asp-area="" asp-controller="DataFigures" asp-action="MinhHoaDistrict"> @ViewLocalizer["MinhHoa"]</a></li>
                                            <li><a class="@Html.IsActive("DataFigures", "TuyenHoaDistrict")" asp-area="" asp-controller="DataFigures" asp-action="TuyenHoaDistrict">@ViewLocalizer["TuyenHoa"]</a></li>
                                            <li><a  class="@Html.IsActive("DataFigures", "QuangTrachDistrict")" asp-area="" asp-controller="DataFigures" asp-action="QuangTrachDistrict">@ViewLocalizer["QuangTrach"]</a></li>
                                            <li><a class="@Html.IsActive("DataFigures", "BaDonTown")" asp-area="" asp-controller="DataFigures" asp-action="BaDonTown">@ViewLocalizer["BaDon"]</a></li>
                                            <li><a class="@Html.IsActive("DataFigures", "BoTrachDistrict")" asp-area="" asp-controller="DataFigures" asp-action="BoTrachDistrict">@ViewLocalizer["BoTrach"]</a></li>
                                            <li><a class="@Html.IsActive("DataFigures", "DongHoiCity")" asp-area="" asp-controller="DataFigures" asp-action="DongHoiCity">@ViewLocalizer["DongHoi"]</a></li>
                                            <li><a class="@Html.IsActive("DataFigures", "QuangNinhDistrict")"asp-area="" asp-controller="DataFigures" asp-action="QuangNinhDistrict">@ViewLocalizer["QuangNinh"]</a></li>
                                            <li><a class="@Html.IsActive("DataFigures", "LeThuyDistrict")"asp-area="" asp-controller="DataFigures" asp-action="LeThuyDistrict">@ViewLocalizer["LeThuy"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown @ViewBag.NavClassByMineAction">
                                        <a>@ViewLocalizer["ByMineAction"]<i class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li ><a class="@Html.IsActive("DataFigures", "ByMineActionSurvey")" asp-area="" asp-controller="DataFigures" asp-action="ByMineActionSurvey">@ViewLocalizer["MineAction1"]</a></li>
                                            <li ><a class="@Html.IsActive("DataFigures", "ByMineActionClearance")" asp-area="" asp-controller="DataFigures" asp-action="ByMineActionClearance">@ViewLocalizer["MineAction2"]</a></li>
                                            <li ><a class="@Html.IsActive("DataFigures", "ByMineActionMRE")" asp-area="" asp-controller="DataFigures" asp-action="ByMineActionMRE">@ViewLocalizer["MineAction3"]</a></li>
                                            <li ><a class="@Html.IsActive("DataFigures", "ByMineActionVictim")" asp-area="" asp-controller="DataFigures" asp-action="ByMineActionVictim">@ViewLocalizer["MineAction4"]</a></li>
                                            <li ><a class="@Html.IsActive("DataFigures", "ByMineActionVictimAssisstance")" asp-area="" asp-controller="DataFigures" asp-action="ByMineActionVictimAssisstance">@ViewLocalizer["MineAction7"]</a></li>
                                            <li ><a class="@Html.IsActive("DataFigures", "ByMineActionPostClc")"asp-area="" asp-controller="DataFigures" asp-action="ByMineActionPostClc">@ViewLocalizer["MineAction5"]</a></li>
                                            <li ><a class="@Html.IsActive("DataFigures", "ByMineActionOther")" asp-area="" asp-controller="DataFigures" asp-action="ByMineActionOther">@ViewLocalizer["MineAction6"]</a></li>

                                        </ul>
                                    </li>
                                    <li class="@Html.IsActive("BomBingQB", "Index")"><a asp-area="" asp-controller="BomBingQB" asp-action="Index">@ViewLocalizer["QuangBinhBomBing"]</a></li>
                                </ul>
                            </li>
                            <li class="dropdown @ManageNavPages.LibraryClass(ViewContext)">
                                <a>@ViewLocalizer["Library"]<i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a class="@Html.IsActive("Home", "OpeartionImage")" asp-area="" asp-controller="Home" asp-action="OpeartionImage">@ViewLocalizer["Photos"]</a></li>
                                    <li><a class="@Html.IsActive("Home", "Video")" asp-area="" asp-controller="Home" asp-action="Video">@ViewLocalizer["Video"]</a></li>
                                    <li><a class="@Html.IsActive("Home", "Document")" asp-area="" asp-controller="Home" asp-action="Document">@ViewLocalizer["Documents"]</a></li>
                                   
                                </ul>
                            </li>

                            <li ><a class="@Html.IsActive("Home", "Contact")" asp-area="" asp-controller="Home" asp-action="Contact">@ViewLocalizer["Contact"]</a></li>
       
        </ul>
          @await Html.PartialAsync("_SetLanguagePartial")
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    
    </div>
  </header><!-- End Header -->
    <!-- ======= Header ======= -->
   
    <main id="main">
        @RenderBody()
    </main><!-- End #main -->

       <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Quang Binh DBCU</h3>
            
                        <p>
                            @ViewLocalizer["Address1"]<br>
                            @ViewLocalizer["Address2"] <br>
                            @ViewLocalizer["Address3"]<br>
                            @ViewLocalizer["Address4"] <br>
                            @ViewLocalizer["Address5"] <br>
                            <strong>Phone:</strong> <br>
                            @*<strong>Email:</strong> info@quangbinhdbcu.com<br>*@
                        </p>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>@ViewLocalizer["lblInfor"]</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Home"]</a>  </li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="About">@ViewLocalizer["About"]</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="OpeartionPlan">@ViewLocalizer["OperationPlan"]</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="OpeartionImage">@ViewLocalizer["Photos"]</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="Contact">@ViewLocalizer["Contact"]</a></li>
                        </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
           <h4>@ViewLocalizer["lblSupport"]</h4>
                        <ul>

                            <li><i class="bx bx-chevron-right"></i> <a href="/Identity/Account/Login">Log In</a></li>
                            @*<li><i class="bx bx-chevron-right"></i> <a href="/Identity/Account/Register">Sign  In</a></li>*@
                        </ul>
          </div><!-- End footer links column-->
		  
		<div class="col-lg-2 col-md-6 footer-links">
            <h4>Follow us</h4>
          
          </div><!-- End footer links column-->

          

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Quang Binh DBCU</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
       
         
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- start amchart js -->
    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <script src="https://www.amcharts.com/lib/3/pie.js"></script>

    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>


    <script src="~/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="~/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="~/js/maps.js"></script>
    <!-- others plugins -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/scripts.js"></script>


    @*<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>*@

    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
      <script src="~/vendor/glightbox/js/glightbox.min.js"></script> 
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script> 
     <script src="~/vendor/purecounter/purecounter.js"></script>

 
    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>


    <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/moment.js/moment-with-locales.min.js"></script>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <!-- #endregion -->
    @RenderSection("Scripts", required: false)

</body>
</html>
