@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@{
    var CurrentNumberFormat = new System.Globalization.CultureInfo("en-US");
    ViewData["Title"] = "Thua Thien Hue DBU - " + ViewLocalizer["ThuaThienHueProvince"].Value + " - " + ViewLocalizer["lblPhuLoc"].Value;
    string lang = System.Globalization.CultureInfo.CurrentCulture.ToString();
}
<style>
    em {
        font-style: italic;
    }


    p a {
        color: #007bff;
    }


    strong {
        font-weight: bold;
    }

    p {
        color: #000;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    p {
        margin: 0;
    }

    .general_title {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #038232;
    }

    .text-center {
        text-align: center !important;
    }

    #item_detail .overview .general_title {
        padding-bottom: 37px;
    }


    p {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
        font-size: 20px;
    }


    #item_detail .overview .main_content .left .short {
        padding: 0 4.26%;
        color: #000;
    }

    figure {
        display: inline-block;
        float: right;
        margin: 0px; /* adjust as needed */
    }

        figure figcaption {
            text-align: center;
            font-style: italic;
            font-size: 12px;
        }

    .close {
        text-decoration: underline
    }

    #overlay {
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 200;
        background-image: url(maskBG.png);
        background-color: black;
        opacity: 0.9;
    }

        #overlay div {
            width: 630px;
            margin: 100px auto;
            background-color: #fff;
            border: 1px solid #000;
            padding: 15px;
            text-align: center;
        }
</style>

<!-- ======= Hero Section ======= -->
<section id="HeroData" class="HeroData" style="background-image: url('../images/bg/phuloc.jpg'); background-size: 100%  100%;">
    <div class="HeroData-container" data-aos="fade-up">
        <h1>  @ViewLocalizer["lblPhuLoc"] </h1>
        @*<h6>
            @ViewLocalizer["lblContentLeft1"]  <b>730,05</b>km2<br />
            @ViewLocalizer["lblContentLeft2"]  <b>140.270</b>   @ViewLocalizer["lblContentLeft21"] (2019)<br />

            <b>@ViewLocalizer["lblContentLeft5"]</b> <br />
            @ViewLocalizer["lblContentLeft6"]<br />
            @ViewLocalizer["lblContentLeft7"]<br />
        </h6>*@

    </div>

</section>
<!-- End Hero -->
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="aboutdata" class="aboutdata">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-11">
                    <div class="row justify-content-end">

                        <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                            <div class="count-box py-5">
                                <i><img src="~/images/icon-web/Clearance.jpg" /> </i>
                                <span data-toggle="counter-up"> @string.Format(CurrentNumberFormat, "{0:N0}", ViewData["areaCLC"]) </span>
                                @*<p>@ViewLocalizer["lblStatitictis1"]</p>*@
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                            <div class="count-box py-5">
                                <i><img src="~/images/icon-web/UXO.jpg" /></i>
                                <span data-toggle="counter-up">@string.Format(CurrentNumberFormat, "{0:N0}", ViewData["NoERW"])</span>
                                @*<p>@ViewLocalizer["lblStatitictis2"]</p>*@
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                            <div class="count-box pb-5 pt-0 pt-lg-5">
                                <i><img src="~/images/icon-web/people1.png" /></i>
                                <span data-toggle="counter-up">   @string.Format(CurrentNumberFormat, "{0:N0}", ViewData["NoMRE"])  </span>
                                @*<p>@ViewLocalizer["lblStatitictis3"]</p>*@
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <h1 class="general_title text-center">@ViewLocalizer["lblGenaeral"]</h1>
            <div class="row">

                <div class="col-lg-6">
                  @*  <h3 class="entry-title">@ViewLocalizer["lblGenaeral"]</h3>
                    <div class="entry-content">*@
                    <div class="left">
                        <div class="short">
                            <p>
                                <strong>
                                    @ViewLocalizer["lblContentLeft1"]
                                </strong>
                                73,005 km2 <br />
                                <strong>
                                    @ViewLocalizer["lblContentLeft2"]
                                </strong>
                                140,270

                                @ViewLocalizer["lblContentLeft21"]</>

                                <br />

                                @ViewLocalizer["lblContentLeft5"] <br />
                                @ViewLocalizer["lblContentLeft6"]<br />
                                @ViewLocalizer["lblContentLeft7"]


                            </p>

                            <p>
                                <em>
                                    @if (lang == "vi")
                                    {
                                        <a title="Thông tin thêm" href="https://phuloc.thuathienhue.gov.vn/" target="_blank" rel="noopener">@ViewLocalizer["moreinfo"]</a>
                                    }
                                    else
                                    {
                                        <a title="Thông tin thêm" href="https://phuloc.thuathienhue.gov.vn/" target="_blank" rel="noopener">@ViewLocalizer["moreinfo"]</a>

                                    }
                                </em>
                            </p>


                        </div>
                    </div>
                    @*</div>*@
                </div>

                <div class="col-lg-6 pt-3 pt-lg-0 content">
                    <div>
                     
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d145717.85451787442!2d107.794324600723!3d16.3139657790117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31418f6dd8439519%3A0xfaf24e36960b0989!2zUGjDuiBM4buZYywgVGjhu6thIFRoacOqbiBIdeG6vywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1661752912779!5m2!1svi!2s" width="540" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

            </div>

            <br />
            <div class="row">

                    <div class="col-lg-12">
                        
                        <h1 class="general_title text-center">@ViewLocalizer["lblStatitictis"]</h1>
                        <div class="row">

                            <div class="col-lg-12">

                                @if (lang == "vi")
                                {
                                    <h4>Dữ liệu đang được cập nhập!</h4>
                                }
                                else if (lang == "en")
                                {
                                    <h4>Data are being updated!</h4>
                                }

                            </div>
                        </div>
                    </div>


                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="sidebar-item tags">
                        <br />
                        <h5 class="sidebar-title">@ViewLocalizer["lblOtherAdministrative"]</h5>
                        <ul>
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="HueCity">@ViewLocalizer["lblButtonLeft1"]</a></li>
                                @*             <li><a a asp-area="" asp-controller="DataFigures" asp-action="ALuoiDistrict">@ViewLocalizer["lblButtonLeft2"]</a></li>*@
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="NamDongDistrict">@ViewLocalizer["lblButtonLeft3"]</a></li>
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="PhongDienDistrict">@ViewLocalizer["lblButtonLeft4"]</a></li>
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="PhuLocDistrict">@ViewLocalizer["lblButtonLeft5"]</a></li>
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="PhuVangDistrict">@ViewLocalizer["lblButtonLeft6"]</a></li>
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="QuangDienDistrict">@ViewLocalizer["lblButtonLeft7"]</a></li>
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="HuongTraTown">@ViewLocalizer["lblButtonLeft8"]</a></li>
                                <li><a a asp-area="" asp-controller="DataFigures" asp-action="HuongThuyTown">@ViewLocalizer["lblButtonLeft9"]</a></li>

                        </ul>
                    </div><!-- End sidebar tags-->
                </div>
            </div>
        </div>

    </section>
</main><!-- End #main -->

@section Scripts {
    <script>

        if ($('#ampiechart11').length) {
            var  json =  @Html.Raw(ViewData["UXOCategory"]);
            var chart = AmCharts.makeChart("ampiechart11", {
                "type": "pie",
                "labelRadius": -35,
                "labelText": "[[percents]]%",
                "dataProvider": json ,
                "color": "#fff",
                "colorField": "backgroundColor",
                "valueField": "qty",
                "titleField": "category",
                "legend": {
                    "valueText": "[[qty]]",
                    "title": "@ViewLocalizer["lblStatitictis7"] " //
                    // ...
                }
            });
        }

        if ($('#ampiechart111').length) {
            var  json =  @Html.Raw(ViewData["UXOModel"]);

            var chart = AmCharts.makeChart("ampiechart111", {
                "type": "pie",
                "labelRadius": -35,
                "labelText": "[[percents]]%",
                "dataProvider": json,
                "color": "#fff",
                "colorField": "backgroundColor",
                "valueField": "qty",
                "titleField": "category",
                "legend": {
                    "valueText": "[[qty]]",
                    "title": "@ViewLocalizer["lblStatitictis8"]"//
                    // ...
                }
            });
        }

           if ($('#ampiechart22').length) {
            var  json =  @Html.Raw(ViewData["MREGender"]);
            var chart = AmCharts.makeChart("ampiechart22", {
                "type": "pie",
                "labelRadius": -35,
                "labelText": "[[percents]]%",
                "dataProvider": json ,
                "color": "#fff",
                "colorField": "backgroundColor",
                "valueField": "qty",
                "titleField": "category",
                "legend": {
                    "valueText": "[[qty]]",
                    "title": " @ViewLocalizer["lblStatitictis11"] " //
                    // ...
                }
            });
        }

        if ($('#ampiechart222').length) {
            var  json =  @Html.Raw(ViewData["MREChildGender"]);

            var chart = AmCharts.makeChart("ampiechart222", {
                "type": "pie",
                "labelRadius": -35,
                "labelText": "[[percents]]%",
                "dataProvider": json,
                "color": "#fff",
                "colorField": "backgroundColor",
                "valueField": "qty",
                "titleField": "category",
                "legend": {
                    "valueText": "[[qty]]",
                    "title": "@ViewLocalizer["lblStatitictis12"]"//
                    // ...
                }
            });
        }

        if ($('#clearncechart2').length) {
            var  json =  @Html.Raw(ViewData["DataClearnceChart"]);
            var chart = AmCharts.makeChart("clearncechart2", {
                "type": "serial",
                "theme": "light",

                "titles": [{
                    "text": "@ViewLocalizer["lblStatitictis4"]",
                    "size": 16
                }],

                "dataProvider": json,
                "valueAxes": [{
                    "axisAlpha": 0,
                    "position": "left",
                    "title": "@ViewLocalizer["lblUnit"]"
                }],
                "startDuration": 1,
                "graphs": [{
                    "balloonText": "<b>[[year]]: [[value]]</b>",
                    "fillColorsField": "color",
                    "fillAlphas": 0.9,
                    "lineAlpha": 0.2,
                    "labelText": "[[areasize]]",
                    "lineAlpha": 0.5,
                    "fillAlphas": 0.9,
                    "fontSize": 11,
                    "type": "column",
                    "valueField": "areasize"
                }],
                "chartCursor": {
                    "categoryBalloonEnabled": false,
                    "cursorAlpha": 0,
                    "zoomable": true
                },
                "categoryField": "year",
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "export": {
                    "enabled": false
                }

            });
        }



        function overlay() {
            el = document.getElementById("overlay");
            el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
        }

        function close() {
            document.getElementById("overlay").style.visibility = 'hidden';
        }



    </script>
    <!-- Chart code -->

}

