@model IEnumerable<DBCU_WebApp.Models.ActivityMA>
@using DBCU_WebApp.Areas.Identity.Pages.Account.Manage

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePagePar"] = ManageNavPages.OperationPlan;
    ViewData["ActivePage"] = ManageNavPages.ActivityMA;
}

<h1>List activity </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityNameEN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityNameEN)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
