@using DBCU_WebApp
@model DBCU_WebApp.Models.News
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@{ 
    ViewData["Title"] = Model.Title;
    //List<Category> categories = ViewBag.categories;
    //Category category = Category.Find(categories,
    //    Model.NewsCategories.FirstOrDefault().CategoryID); 
    string lang = System.Globalization.CultureInfo.CurrentCulture.ToString();
    }
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Home"]</a></li>
                <li>@ViewLocalizer["News"]</li>
            </ol>

        </div>
    </section><!-- End Breadcrumbs -->
 
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <h2 class="entry-title">
                            @if (lang == "vi")
                            {
                            @Model.Title
                            }
                            else if (lang == "en")
                            {
                            @Model.TitleEn
                            }

                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="icofont-user"></i> @Model.Author</li>
                                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i>  <time datetime="2020-01-01">@Model.DateUpdated.ToShortDateString()</time></li>

                            </ul>
                        </div>
                        <div>

                            @if (lang == "vi")
                            {
                            @Model.Description }
                            else if (lang == "en")
                            {
                            @Model.DescriptionEn
                            }

                        </div>

                        <div class="">
                            <img src="@Url.Content("~/images/News/" + @Model.StrUrlImage)" alt="" class="img-fluid">
                        </div>

                        <div class="entry-content">

                            @if (lang == "vi")
                            {
                            @Html.Raw(Model.Content)
                            }
                            else if (lang == "en")
                            {
                            @Html.Raw(Model.ContentEn)
                            }
                        </div>

                    </article><!-- End blog entry -->

                </div><!-- End blog entries list -->

                <div class="sidebar">

                    <h3 class="sidebar-title">@ViewLocalizer["Search"]</h3>
                    <div class="sidebar-item search-form">
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="icofont-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->

                    <h3 class="sidebar-title">@ViewLocalizer["Recent posts"]</h3>
                    <div class="sidebar-item recent-posts">
                        @*<div class="post-item clearfix">
                        <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                        <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                        <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>

                    <div class="post-item clearfix">
                        <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                        <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                        <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>

                    <div class="post-item clearfix">
                        <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                        <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                        <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>

                    <div class="post-item clearfix">
                        <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                        <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                        <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>

                    <div class="post-item clearfix">
                        <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                        <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                        <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>*@

                    </div><!-- End sidebar recent posts-->



                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->
        </div>
 
    </section><!-- End Blog Single Section -->
</main><!-- End #main -->