@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Thua Thien Hue DBU - " + ViewLocalizer["Introduction"].Value;
}


<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs" style="background-image: url('../images/bg/banner-ngomon.png');height:45vh;background-size: 100% 100%;"> 
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>@ViewLocalizer["Introduction"]</h2>
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Home"]</a></li>
            <li>@ViewLocalizer["Introduction"]</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-ustop" class="about-ustop">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
     
              <h2>@ViewLocalizer["Intro"]</h2>
              @*<h3>Eum ipsam laborum deleniti velitena</h3>*@
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
             <p>@ViewLocalizer["lblIntro"]</p>
                    <p>@ViewLocalizer["lblIntro1"]</p> 
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
      <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container">
        

        <div class="row no-gutters">
          
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
          
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">              

              <div class="row">
                  <div class="col-lg-6 icon-box">
                
                         
                          <i class="bx bx-data"></i>
                                    <h4>@ViewLocalizer["lblDatabaseUnit"]</h4>
                                    <p>@ViewLocalizer["DatabaseUnit"]</p>
             
                       @*<i class="bx bx-repost"></i>
                         <h4>@ViewLocalizer["lblCoordinationFunction"]</h4>
                                <p>@ViewLocalizer["CoordinationFunction"]</p>*@
               
                </div>
                <div class="col-lg-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                 <i class="bx bx-shield"></i>
                            <h4>@ViewLocalizer["lblPolicyAndTerms"]</h4>
                            <p>@ViewLocalizer["PolicyAndTerms"]</p>
                            <p>@ViewLocalizer["PolicyAndTerms1"]</p>

                </div>
             
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
          <!-- ======= Team Section ======= -->
    <section id="team" class="team ">
      <div class="container">
          		<div class="sectiondbu-title">
          <h2>Cơ cấu - tổ chức</h2>
          <p>Cơ cấu - tổ chức</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                        <div class="row">
              <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                  <div class="member-info">
                    <h4>Quản lý dự án</h4>
                    <span>01 - Sở ngoại vụ</span>
                    <p>Quản lý tất cả các hoạt động của DBU</p>
                   
                  </div>
                </div>
              </div>

             <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                  <div class="member-info">
                    <h4>Quản lý thông tin và hoạt đông</h4>
                    <span>01 - Nhân sự</span>
                       <p>Quản lý thông tin và hoạt đông của DBU</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                  <div class="member-info">
                    <h4>Nhân viên dữ liệu</h4>
                    <span>01 - Nhân sự</span>
                       <p>Nhân viên xử lý dữ liệu</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                  <div class="member-info">
                    <h4>Cán bộ kiểm soát dữ liệu QA,QC</h4>
                    <span>02 - Bộ chỉ huy quân sự</span>
                    <p>Quản lý kiểm tra chất lượng dữ liệu</p>
                   
                  </div>
                </div>
              </div>

              

            </div>
            </div>
                        <div class="col-lg-6">
                                    <div class="row">
                                   <p><img src="~/images/About/@ViewLocalizer["OrganizationalStructure"]"/></p>
            </div>
            </div>
        </div>

      </div>
    </section><!-- End Team Section -->
 
    </div>
</section><!-- End About Section -->
