@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@{ 
    ViewData["Title"] = "Quang Binh DBCU - " + ViewLocalizer["Contact"].Value; 
}

<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css" rel="stylesheet" />
<style>
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
</style>
<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Home"]</a></li>
            <li>@ViewLocalizer["Contact"]</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@ViewLocalizer["Contact"]</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>@ViewLocalizer["Our Address"]</h3>
                            <p>@ViewLocalizer["Address"]</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Email</h3>
                            <p>
                                contact@quangbinhdbcu.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>@ViewLocalizer["Phone"]</h3>
                            <p>+84

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="col form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="@ViewLocalizer["lblname"]" data-rule="minlen:4" data-msg="@ViewLocalizer["lblname1"]" />
                            <div class="validate"></div>
                        </div>
                        <div class="col form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="@ViewLocalizer["lblemail"]" data-rule="email" data-msg="@ViewLocalizer["lblemail1"]" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="@ViewLocalizer["lblsubject"]" data-rule="minlen:4" data-msg="@ViewLocalizer["lblsubject1"]" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="@ViewLocalizer["lblmessage1"]" placeholder="@ViewLocalizer["lblmessage"]"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">@ViewLocalizer["lblsent-message"]</div>
                    </div>
                    <div class="text-center"><button type="submit">@ViewLocalizer["btnSend"]</button></div>
                </form>
            </div>

        </div>
        <div class="col-lg-12 mt-4">
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3697.5665712680825!2d106.61736209214864!3d17.463860524777076!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2cfa1470d5ec874f!2zU-G7nyBuZ2_huqFpIHbhu6UgdOG7iW5oIFF14bqjbmcgQsOsbmg!5e0!3m2!1svi!2s!4v1637293328254!5m2!1svi!2s" width="1080" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
        </div>
    </div>
    
</section><!-- End Contact Section -->

 