@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@using DBCU_WebApp.Areas.Identity.Pages.Account.Manage

@{ 
    ViewData["Title"] = "Thua Thien Hue DBU - " + ViewLocalizer["Photos"].Value;
    ViewData["ActivePagePar"] = ManageNavPages.Library;
    }

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Home"]</a></li>
            <li>@ViewLocalizer["Photos"]</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@ViewLocalizer["Photos"]</h2>
            <p></p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">@ViewLocalizer["All"]</li>
                    <li data-filter=".filter-education">@ViewLocalizer["Edu"]</li>
                    <li data-filter=".filter-field">@ViewLocalizer["Field"]</li>
                    <li data-filter=".filter-training">@ViewLocalizer["Training"]</li>
                    <li data-filter=".filter-AccidentVictim">@ViewLocalizer["AccidentVictim"]</li>
                    <li data-filter=".filter-event">@ViewLocalizer["Event"]</li>
                    <li data-filter=".filter-Other">@ViewLocalizer["Other"]</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item filter-education">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/imsma.JPG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/imsma.JPG" data-gall="portfolioGallery" class="venobox" title="Đào tạo"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-education">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/imsma3.JPG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/imsma3.JPG" data-gall="portfolioGallery" class="venobox" title="Đào tạo"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-education">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/IMGP1461.JPG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/IMGP1461.JPG" data-gall="portfolioGallery" class="venobox" title="Đào tạo"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-4 col-md-6 portfolio-item filter-field">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/qt5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/qt5.jpg" data-gall="portfolioGallery" class="venobox" title="Hiện trường"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-field">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/qt8_2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/qt8_2.jpg" data-gall="portfolioGallery" class="venobox" title="Hiện trường"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 portfolio-item filter-field">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/qt6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/qt6.jpg" data-gall="portfolioGallery" class="venobox" title="Hiện trường"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>





            <div class="col-lg-4 col-md-6 portfolio-item filter-training">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/Training_1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/Training_1.jpg" data-gall="portfolioGallery" class="venobox" title="Tập huấn"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-training">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/TraoBang_2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/TraoBang_2.jpg" data-gall="portfolioGallery" class="venobox" title="Tập huấn"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-training">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/web_qb.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/web_qb.jpg" data-gall="portfolioGallery" class="venobox" title="Tập huấn"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>

           
            <div class="col-lg-4 col-md-6 portfolio-item filter-event">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/PTVN.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/PTVN.jpg" data-gall="portfolioGallery" class="venobox" title="Sự kiên">
                                <i class="bx bx-plus"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-event">
                <div class="portfolio-wrap">
                    <img src="~/images/portfolio/PTVN.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/images/portfolio/PTVN.jpg" data-gall="portfolioGallery" class="venobox" title="Sự kiên">
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


          




        </div>
    </div>
</section><!-- End Portfolio Section -->
